{
    "$schema": "https://raw.githubusercontent.com/infection/infection/0.26.21/resources/schema.json",
    "source": {
        "directories": [
            "src",
        ]
    },
    "timeout": 10,
    "testFramework":"phpunit",
    "phpUnit": {
        "customPath": "./tools/phpunit.phar",
    },
    "mutators": {
        "@default": true,
    },
    minMsi: 100,
    minCoveredMsi: 100,
}
