includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-symfony/rules.neon

parameters:
	level: max
	bootstrapFiles:
		- ./tools/phpunit.phar
	paths:
		- src/
		- tests/
		- e2e/
	excludePaths:
		- e2e/cases/*
	symfony:
		consoleApplicationLoader: tests/console-app.php
