name: e2e

on:
  pull_request:

permissions:
  contents: read

jobs:
  e2e:
    name: e2e

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: "8.3"
          coverage: none
      - name: Install dependencies
        run: composer install

      - name: Compile phar
        run: composer tools:run:compile

      - name: Run e2e tests
        run: composer tools:run:e2e
