name: e2e

on:
  pull_request:

permissions:
  contents: read

jobs:
  e2e:
    name: e2e

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5
        with:
          php-version: "8.3"
          coverage: none
      - name: Install dependencies
        run: composer install

      - name: Compile phar
        run: composer tools:run:compile

      - name: Run e2e tests
        run: composer tools:run:e2e
