name: release

on:
  push:
    tags:
      - v*
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    if: github.repository == 'buildotter/php-maker-standalone-src'

    name: release

    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: "8.3"
          coverage: none
      - name: Install dependencies
        run: composer install

      - name: Compile phar
        run: composer tools:run:compile

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: phar-file
          path: build/buildotter-maker-standalone.phar

      - name: Run e2e tests
        run: composer tools:run:e2e

      -
        name: "Retrieve git log"
        id: git-log
        run: |
          echo "log<<MESSAGE" >> $GITHUB_OUTPUT
          echo "$(git log ${{ github.event.before }}..${{ github.event.after }} --reverse --pretty='https://github.com/buildotter/php-maker-standalone-src/commit/%H %s')" >> $GITHUB_OUTPUT
          echo 'MESSAGE' >> $GITHUB_OUTPUT

      -
        name: "Checkout remote repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: buildotter/php-maker-standalone
          path: remote-repository
          token: ${{ secrets.ACCESS_TOKEN }}

      -
        name: "Configure git"
        working-directory: remote-repository
        # @TODO: replace by buildotter-bot
        run: |
          git config user.email "beram.job@gmail.com"
          git config user.name "beram"

      -
        name: "Move phar to remote repository"
        run: |
          mv build/buildotter-maker-standalone.phar remote-repository/bin/buildotter-maker-standalone
          chmod 755 remote-repository/bin/buildotter-maker-standalone

      -
        name: "Commit phar - main"
        working-directory: remote-repository
        if: "!startsWith(github.ref, 'refs/tags/')"
        env:
          INPUT_LOG: ${{ steps.git-log.outputs.log }}
        run: |
          git add .
          git commit -m "updated Buildotter Maker Standalone to commit ${{ github.event.after }}" -m "$INPUT_LOG"
          git push --quiet origin main

      -
        name: "Commit phar - tag"
        working-directory: remote-repository
        if: "startsWith(github.ref, 'refs/tags/')"
        env:
          INPUT_LOG: ${{ steps.git-log.outputs.log }}
        run: |
          git add .
          git commit -m "Buildotter Maker Standalone ${GITHUB_REF#refs/tags/}" -m "$INPUT_LOG"
          git push --quiet origin main
          git tag ${GITHUB_REF#refs/tags/} -m "${GITHUB_REF#refs/tags/}"
          git push --quiet origin ${GITHUB_REF#refs/tags/}
